.root {
}
.prepend span {
  border-radius: 20px;
  background: none;
}
input.textbox {
  border-radius: 20px;
  border-left: 0px;
  padding-left: 0px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
