@import "styles/_variables";
.headings {
  background: #e0e0e0;
  font-size: 14px;
}

.heading:hover {
  background: #fafafa;
  cursor: pointer;
}
.heading {
  position: relative;
  i {
    margin: 4px 8px;
    position: absolute;
  }
}
.body {
  font-size: 14px;
}

.selected {
  background: #d1ecf1 !important;
}

.alert {
  width: 100%;
}
.sortIcon {
}
